In [65]:
list_names = ["Hanne", "Ole", "lars", "Hans", "Emil", "Johan"]

new_list = []

for value in list_names:
        if "H" == value[0]:
            new_list.append(value)
new_list

['Hanne', 'Hans']

In [66]:
value_list = [value ** 3 for value in range(1,100)]
value_list

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299]

In [67]:
tuple_list = []

for value in list_names:
            tuple_list.append((len(value), value))
tuple_list

[(5, 'Hanne'), (3, 'Ole'), (4, 'lars'), (4, 'Hans'), (4, 'Emil'), (5, 'Johan')]

In [68]:
nummeric_name = "sgdfkohkok324234kokdfgk4o5okkhok5o6k7"
nummeric_list = []

for value in nummeric_name:
        if value.isdigit():
            nummeric_list.append(value)
nummeric_list

['3', '2', '4', '2', '3', '4', '4', '5', '5', '6', '7']

In [69]:
my_set = [{(x+1,y+1) for x in range(6)} for y in range(6)]
          
my_set

[{(1, 1), (2, 1), (3, 1), (4, 1), (5, 1), (6, 1)},
 {(1, 2), (2, 2), (3, 2), (4, 2), (5, 2), (6, 2)},
 {(1, 3), (2, 3), (3, 3), (4, 3), (5, 3), (6, 3)},
 {(1, 4), (2, 4), (3, 4), (4, 4), (5, 4), (6, 4)},
 {(1, 5), (2, 5), (3, 5), (4, 5), (5, 5), (6, 5)},
 {(1, 6), (2, 6), (3, 6), (4, 6), (5, 6), (6, 6)}]

In [70]:
dictionary_names = {}

for value in list_names:
            dictionary_names.update({value: len(value)})
dictionary_names

{'Hanne': 5, 'Ole': 3, 'lars': 4, 'Hans': 4, 'Emil': 4, 'Johan': 5}

In [71]:
import math 

list_numbers = [23423,34534,123,546567,2342,7,2,122,3,2342]
dictionary_numbers = {}

for value in list_numbers:
            dictionary_numbers.update({value: math.sqrt(value)})
dictionary_numbers

{23423: 153.04574479546957,
 34534: 185.83325859490276,
 123: 11.090536506409418,
 546567: 739.3016975497892,
 2342: 48.394214530251446,
 7: 2.6457513110645907,
 2: 1.4142135623730951,
 122: 11.045361017187261,
 3: 1.7320508075688772}

In [72]:
my_set = [(x+1,y+1) for x in range(6) for y in range(6)]
dictionary_combo = {}

for value in my_set:
            dictionary_combo.update({value: 1/36*100})
dictionary_combo

{(1, 1): 2.7777777777777777,
 (1, 2): 2.7777777777777777,
 (1, 3): 2.7777777777777777,
 (1, 4): 2.7777777777777777,
 (1, 5): 2.7777777777777777,
 (1, 6): 2.7777777777777777,
 (2, 1): 2.7777777777777777,
 (2, 2): 2.7777777777777777,
 (2, 3): 2.7777777777777777,
 (2, 4): 2.7777777777777777,
 (2, 5): 2.7777777777777777,
 (2, 6): 2.7777777777777777,
 (3, 1): 2.7777777777777777,
 (3, 2): 2.7777777777777777,
 (3, 3): 2.7777777777777777,
 (3, 4): 2.7777777777777777,
 (3, 5): 2.7777777777777777,
 (3, 6): 2.7777777777777777,
 (4, 1): 2.7777777777777777,
 (4, 2): 2.7777777777777777,
 (4, 3): 2.7777777777777777,
 (4, 4): 2.7777777777777777,
 (4, 5): 2.7777777777777777,
 (4, 6): 2.7777777777777777,
 (5, 1): 2.7777777777777777,
 (5, 2): 2.7777777777777777,
 (5, 3): 2.7777777777777777,
 (5, 4): 2.7777777777777777,
 (5, 5): 2.7777777777777777,
 (5, 6): 2.7777777777777777,
 (6, 1): 2.7777777777777777,
 (6, 2): 2.7777777777777777,
 (6, 3): 2.7777777777777777,
 (6, 4): 2.7777777777777777,
 (6, 5): 2.7777777777777777,
 (6, 6): 2.7777777777777777}

In [73]:
my_set = [(x+1,y+1) for x in range(6) for y in range(6)]
dictionary_combo = {}

value_count = 0

for value in my_set:
    value_count = 0
    for v2 in my_set:
        if v2[0]+v2[1]==value[0]+value[1]:
            value_count += 1
        dictionary_combo.update({value: value_count/36*100})
dictionary_combo

{(1, 1): 2.7777777777777777,
 (1, 2): 5.555555555555555,
 (1, 3): 8.333333333333332,
 (1, 4): 11.11111111111111,
 (1, 5): 13.88888888888889,
 (1, 6): 16.666666666666664,
 (2, 1): 5.555555555555555,
 (2, 2): 8.333333333333332,
 (2, 3): 11.11111111111111,
 (2, 4): 13.88888888888889,
 (2, 5): 16.666666666666664,
 (2, 6): 13.88888888888889,
 (3, 1): 8.333333333333332,
 (3, 2): 11.11111111111111,
 (3, 3): 13.88888888888889,
 (3, 4): 16.666666666666664,
 (3, 5): 13.88888888888889,
 (3, 6): 11.11111111111111,
 (4, 1): 11.11111111111111,
 (4, 2): 13.88888888888889,
 (4, 3): 16.666666666666664,
 (4, 4): 13.88888888888889,
 (4, 5): 11.11111111111111,
 (4, 6): 8.333333333333332,
 (5, 1): 13.88888888888889,
 (5, 2): 16.666666666666664,
 (5, 3): 13.88888888888889,
 (5, 4): 11.11111111111111,
 (5, 5): 8.333333333333332,
 (5, 6): 5.555555555555555,
 (6, 1): 16.666666666666664,
 (6, 2): 13.88888888888889,
 (6, 3): 11.11111111111111,
 (6, 4): 8.333333333333332,
 (6, 5): 5.555555555555555,
 (6, 6): 2.7777777777777777}