In [20]:
#Import science.csv to a pandas DataFrame

import pandas as pd

science = pd.read_csv('science.csv')
science

    Year  US science spending  Suicides
0   1999                18079      5427
1   2000                18594      5688
2   2001                19753      6198
3   2002                20734      6462
4   2003                20831      6635
5   2004                23029      7336
6   2005                23597      7248
7   2006                23584      7491
8   2007                25525      8161
9   2008                27731      8578
10  2009                29449      9000

In [21]:
#Split the input (X) and target (y) using train_test_split


from sklearn.model_selection import train_test_split

x = science[['US science spending', 'Suicides']]
y = science['Year']
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [22]:
#Train the model on the training data

from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(x_train, y_train)

model.score(x_train, y_train)

0.9703045143861159

In [23]:
#Score the model based on the testing data

model.score(x_test, y_test)

0.9909656501892756