In [2]:
#Class exercise 3
#- create a pandas dataframe from below csv and turn it into a mysql table called: 'cars'

import pandas as pd 
import pymysql
from sqlalchemy import create_engine

con_str = 'mysql+pymysql://dev:ax2@localhost:3307/test'
engine = create_engine(con_str)

csv = """
make,model,year,price
vw,up,2018,123000
audi,a6,2011,85000
citroen,c3,2019,143000
"""

df = pd.read_csv("cars.csv")
df = df.applymap(str)
df.to_sql('cars',con=engine, if_exists='append', index = False)
df

      make model  year   price
0       vw    up  2018  123000
1     audi    a6  2011   85000
2  citroen    c3  2019  143000