In [12]:
#Class exercise Select 1
#- Choose a database and a table with content from your mysql server (running on vagrant)
#- Using pymysql from a jupyter notebook read and print the content of the table

import datetime
import pymysql

cnx = pymysql.connect(user='dev', password='ax2',host='127.0.0.1',port=3307,db='cba_test')  

cursor = cnx.cursor()

query = ("SELECT * FROM cba_test.hobbies")

cursor.execute(query)

for (id, description, name) in cursor:
    print(id, description, name)

cursor.close()
cnx.close()

53 Hitting a ball with a ketcher Tennis
54 Swimming in warter og in a pool Swimming