In [15]:
#Given the below dictionarys find out where each of the 4 people find the cheapest shopping according to their needs.

import numpy as np
import pandas as pd

shoppers = {
'Paula':{'Is':4,'Juice':2,'Kakao':3,'Lagkager':2},
'Peter':{'Is':2,'Juice':5,'Kakao':0, 'Lagkager':4},
'Pandora':{'Is':5,'Juice':3, 'Kakao':4, 'Lagkager':5},
'Pietro':{'Is':1,'Juice':8, 'Kakao':9, 'Lagkager':1}
}
shop_prices = {
    'Netto': {'Is':10.50,'Juice':2.25,'Kakao':4.50,'Lagkager':33.50},
    'Fakta': {'Is':4.00,'Juice':4.50,'Kakao':6.25,'Lagkager':20.00}
}

shoppers = pd.DataFrame(shoppers).T
shop_prices = pd.DataFrame(shop_prices)

print(shoppers)
print(shop_prices)

#RÃ¦kkerne skal svare til kolonnerne
matrix_data = shoppers.dot(shop_prices)
matrix_data

         Is  Juice  Kakao  Lagkager
Paula     4      2      3         2
Peter     2      5      0         4
Pandora   5      3      4         5
Pietro    1      8      9         1
          Netto  Fakta
Is        10.50   4.00
Juice      2.25   4.50
Kakao      4.50   6.25
Lagkager  33.50  20.00

          Netto   Fakta
Paula    127.00   83.75
Peter    166.25  110.50
Pandora  244.75  158.50
Pietro   102.50  116.25