In [24]:
from glob import glob
import pandas as pd

cars = {'Date': [],
        'Linalg norm': []
        }

df = pd.DataFrame(cars, columns= ['Date', 'Linalg norm'])

df

Empty DataFrame
Columns: [Brand, Price]
Index: []

In [25]:
df.to_csv (r'C:\Users\rasmu\Desktop\export_dataframe.csv', index = False, header=True)

In [26]:
data = open(r'C:\Users\rasmu\Desktop\export_dataframe.csv')
data = pd.read_csv(data, sep = ',')
data

Empty DataFrame
Columns: [Brand, Price]
Index: []